@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Confirmaçao do esqueci a senha</PageTitle>

<h1>Confirmaçao do esqueci a senha</h1>
<p>
    Verifique seu e-mail para redefinir sua senha.
</p>
