@page "/Account/Lockout"

<PageTitle>Bloqueado</PageTitle>

<header>
    <h1 class="text-danger">Bloqueado</h1>
    <p class="text-danger">Esta conta foi bloqueada, tente novamente mais tarde.</p>
</header>
