@page "/Account/ResetPasswordConfirmation"
<PageTitle>Redefinir confirmação de senha</PageTitle>

<h1>Redefinir confirmação de senha</h1>
<p>
    Sua senha foi redefinida. Por favor <a href="Account/Login">clique aqui para fazer login</a>.
</p>
